**/source/
**/demo.exe
/ports/nx-engine-evo/all.zip*
/ports/*/Dockerfile.deps
/ports/*/Dockerfile.build
/ports/*/clone-source
/release/
.env
**/.ccache
**/pkg
**/bld
**.log
**/pkg.zip
**/pkg.xz*
**/pkg.tar*
**/pkg.zip.sha256
**/pkg.zip.git.sha
**/package.legacy.info
**/package.tmp
